.all{
    width: 50vh;
    border: 2px solid rgb(222, 242, 255);
    background-color: rgb(222, 242, 255);
    border-radius: 10px;
    padding:20px;
    margin: 10% auto;
    color: rgb(0, 51, 133);
}

.title{
    font-size: 2em;
    margin-bottom: 10px;
}

.name{
    font-size: 1.3em;
    position: relative; 
    padding: 3%;
}

.role{
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 5px;
    background: rgb(182, 227, 255);
}

.detail{
    padding: 3%;
}

.name::marker{
    content: none;
}

.name::after{
    content: '▶';
    font-size: 1em;
    position: absolute;
    right: 3%;
    transition: 0.3s ease;
}

.role[open] .name::after{
    transform: rotate(90deg);
}

.role[open] .name{
    margin-bottom: 20px;
    background: rgb(125, 193, 235);
    border-radius: 10px 10px 0 0 ;
}

.role[open] {
    background-color: #fff;
}

.photo{
    margin-left: 85%;
    background-color: white;
}