.openBtn{
    padding-inline: 70px;
    padding-block: 35px;
    border-radius: 10px;
    font-size: 45px;
    margin-top: 5%;
    margin-left: 5%;
}

.closeBtn{
    margin: 5% 25%;
    padding-inline:18%;
    padding-block:5%;
    border-radius: 10px;
    font-size: 18px;
}

.btn{
    background: rgb(239, 191, 255);
    border:1px solid rgb(239, 191, 255);
    color: rgb(82, 21, 21);
    transition: 0.5s;
}

.btn:hover{
    box-shadow: 1px 1px 10px 1px #d2cece;
}

.myDialog{
    width: 300px;
    border: 5px solid rgb(191, 133, 211);
    border-radius: 15px;
    background: #EBDBF5;
    padding:0;
    color: rgb(82, 21, 21);
}

